/* 
    Main Stylesheet

    Created on : Nov 3, 2018, 10:04:51 PM
    Author     : Aaron Pulley
*/

$mid-screen-min-size: 650px;
$large-screen-min-size: 1024px;

@import 'partials/layout';
@import 'partials/typography';

$background-main: #0A1920;
$background-accent: #132228;
$background-accent-2: #1D272C;

html {
    background: radial-gradient(ellipse 110% 200% at 100% 80%, 
                                $background-main 5%, 
                                $background-accent 40%, 
                                $background-main 50%, 
                                $background-accent-2 70%,
                                $background-main 75%, 
                                $background-accent-2 80%,
                                $background-main 85%);
    box-shadow: inset -15px -15px 10px 3px rgba(0, 0, 0, 0.4),
                inset 15px 15px 10px 3px rgba(255, 255, 255, 0.3);
    padding: 30px;
}