/* 
    Main Stylesheet

    Created on : Nov 3, 2018, 10:04:51 PM
    Author     : Aaron Pulley
*/
/* Breakpoints */
/* Colors */
/*------------------------------
	header layout
-------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Caesar+Dressing");
@import url("https://fonts.googleapis.com/css?family=Nova+Cut");
#zen-intro {
  display: flex;
  flex-direction: column; }

#zen-intro > * {
  flex: 1 1 30%; }

@media only screen and (min-width: 650px) {
  #zen-intro {
    flex-direction: row;
    flex-wrap: wrap; }

  header {
    padding-top: 2em; }
    header h1 {
      margin-top: 0; }

  #zen-summary {
    padding-top: 2em; }
    #zen-summary p:first-of-type {
      margin-top: 0; }

  #zen-preamble.preamble {
    flex-basis: 100%;
    width: 100%; } }
/*------------------------------
	aside layout
-------------------------------*/
.sidebar > .wrapper {
  display: flex;
  flex-direction: column; }

.sidebar > .wrapper > * {
  flex: 1 1 30%; }

@media only screen and (min-width: 650px) {
  .sidebar > .wrapper {
    flex-direction: row; } }
/*------------------------------
	footer layout
-------------------------------*/
footer {
  display: flex;
  margin: auto auto 2em;
  max-width: 20em;
  justify-content: space-between; }

html {
  font-size: 12px; }

@media only screen and (min-width: 650px) {
  html {
    font-size: 14px; } }
@media only screen and (min-width: 1024px) {
  html {
    font-size: 16px; } }
/*-----------------------------------
    header
------------------------------------*/
h1, h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Caesar Dressing', cursive;
  color: #a500ff;
  -webkit-animation: neon 3.5s ease-in-out infinite alternate;
  -moz-animation: neon 3.5s ease-in-out infinite alternate;
  animation: neon 3.5s ease-in-out infinite alternate;
  /* webkit glow code*/
  /*mozilla glow code*/
  /*normal glow code*/ }
@-webkit-keyframes neon {
  from {
    text-shadow: 0px 0px 3px #ae19ff,  0px 0px 4px #ae19ff,   0px 0px 5px #c966ff, 0px 0px 5px #d27fff, 0px 0px 6px #f6e5ff,  0px 0px 7px #f6e5ff; }
  to {
    text-shadow: 0px 0px 1.5px #ae19ff,  0px 0px 2px #ae19ff,   0px 0px 2.5px #c966ff, 0px 0px 2.5px #d27fff, 0px 0px 3px #f6e5ff,  0px 0px 3.5px #f6e5ff; } }
@-moz-keyframes {
  from {
    text-shadow: 0px 0px 3px #ae19ff,  0px 0px 4px #ae19ff,   0px 0px 5px #c966ff, 0px 0px 5px #d27fff, 0px 0px 6px #f6e5ff,  0px 0px 7px #f6e5ff; }
  to {
    text-shadow: 0px 0px 1.5px #ae19ff,  0px 0px 2px #ae19ff,   0px 0px 2.5px #c966ff, 0px 0px 2.5px #d27fff, 0px 0px 3px #f6e5ff,  0px 0px 3.5px #f6e5ff; } }
@keyframes neon {
  from {
    text-shadow: 0px 0px 3px #ae19ff,  0px 0px 4px #ae19ff,   0px 0px 5px #c966ff, 0px 0px 5px #d27fff, 0px 0px 6px #f6e5ff,  0px 0px 7px #f6e5ff; }
  to {
    text-shadow: 0px 0px 1.5px #ae19ff,  0px 0px 2px #ae19ff,   0px 0px 2.5px #c966ff, 0px 0px 2.5px #d27fff, 0px 0px 3px #f6e5ff,  0px 0px 3.5px #f6e5ff; } }
h1 {
  font-size: 3.5rem; }
  @media only screen and (min-width: 650px) {
    h1 {
      font-size: 2.7rem; } }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 3.5rem; } }

h2 {
  font-size: 1.5rem; }

/*------------------------------
    body and footer links
-------------------------------*/
a {
  color: #00ffa5;
  font-family: 'Nova Cut', cursive;
  text-decoration: underline;
  -webkit-transition: text-shadow 0.5s linear;
  -moz-transition: text-shadow 0.5s linear;
  -ms-transition: text-shadow 0.5s linear;
  -o-transition: text-shadow 0.5s linear;
  transition: text-shadow 0.5s linear; }
  a:visited {
    text-decoration: none;
    color: #00b273; }
  a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 1px #99ffdb,  0px 0px 1px #99ffdb,  0px 0px 1px #99ffdb,  0px 0px 1px #99ffdb,  0px 0px 1px #99ffdb,  0px 0px 1px #99ffdb; }
  a:active {
    color: #001910; }

/*-----------------------------------
	body headings
------------------------------------*/
h3 {
  padding-left: 0.5em;
  font-family: 'Caesar Dressing', cursive;
  font-variant: small-caps;
  font-size: 2rem;
  color: #ffa500;
  text-shadow: -3px -3px rgba(255, 165, 0, 0.1), -2px -2px rgba(0, 0, 0, 0.1); }

/* Pebbles */
@media only screen and (min-width: 650px) {
  .main h3::before, .main h3::after, #zen-preamble h3::before, #zen-preamble h3::after {
    display: inline-block;
    content: ' ';
    width: 1em;
    height: 1em;
    background: radial-gradient(ellipse 110% 100% at 100% 80%, #1D272C 10%, #38464C 80%, #52626A 90%);
    box-shadow: 1px 2px 30px 10px #ffa500; }
  .main h3::before, #zen-preamble h3::before {
    border-radius: 50% 50% 70% 60% / 80% 60% 20% 40%;
    margin-right: 1em; }
  .main h3::after, #zen-preamble h3::after {
    border-radius: 50% 90% 75% 60% / 60% 80% 50% 60%;
    margin-left: 1em; }

  #zen-explanation h3::before, #zen-benefits h3::before {
    border-radius: 90% 50% 40% 25% / 55% 30% 100% 40%; }
  #zen-explanation h3::after, #zen-benefits h3::after {
    border-radius: 90% 60% 60% 80% / 60% 30% 50% 40%; } }
@media only screen and (min-width: 650px) {
  font-size: 1.7rem; }
/*----------------------------
	body copy
-----------------------------*/
p {
  font-family: 'Nova Cut', cursive;
  font-size: 1.5rem;
  color: #00ffd2;
  padding-left: 0.7em; }
  p a {
    color: #00ffa5;
    text-decoration: underline; }

/*------------------------------
	aside
-------------------------------*/
h3.select, h3.archives, h3.resources {
  color: #a500ff;
  letter-spacing: 2.5px;
  -webkit-animation: neon 3.5s ease-in-out infinite alternate;
  -moz-animation: neon 3.5s ease-in-out infinite alternate;
  animation: neon 3.5s ease-in-out infinite alternate;
  /* webkit glow code*/
  /* mozilla glow code*/
  /*normal glow code*/ }
@-webkit-keyframes neon {
  from {
    text-shadow: 0px 0px 1px #ae19ff,  0px 0px 1.5px #ae19ff,   0px 0px 2px #c966ff, 0px 0px 2px #d27fff, 0px 0px 2.5px #f6e5ff,  0px 0px 3px #f6e5ff; }
  to {
    text-shadow: 0px 0px .5px #ae19ff,  0px 0px 1px #ae19ff,   0px 0px 1.5px #c966ff, 0px 0px 1.5px #d27fff, 0px 0px 2px #f6e5ff,  0px 0px 2.5px #f6e5ff; } }
@-moz-keyframes {
  from {
    text-shadow: 0px 0px 2px #ae19ff,  0px 0px 3px #ae19ff,   0px 0px 4px #c966ff, 0px 0px 5px #d27fff, 0px 0px 6px #f6e5ff,  0px 0px 7px #f6e5ff; }
  to {
    text-shadow: 0px 0px .5px #ae19ff,  0px 0px 1px #ae19ff,   0px 0px 1.5px #c966ff, 0px 0px 1.5px #d27fff, 0px 0px 2px #f6e5ff,  0px 0px 2.5px #f6e5ff; } }
@keyframes neon {
  from {
    text-shadow: 0px 0px 2px #ae19ff,  0px 0px 3px #ae19ff,   0px 0px 4px #c966ff, 0px 0px 5px #d27fff, 0px 0px 6px #f6e5ff,  0px 0px 7px #f6e5ff; }
  to {
    text-shadow: 0px 0px .5px #ae19ff,  0px 0px 1px #ae19ff,   0px 0px 1.5px #c966ff, 0px 0px 1.5px #d27fff, 0px 0px 2px #f6e5ff,  0px 0px 2.5px #f6e5ff; } }
aside {
  color: #ffa500;
  font-family: 'Nova Cut', cursive; }
  aside a {
    color: #ffa500;
    text-decoration: underline; }
    aside a:visited {
      text-decoration: none;
      color: #b27300; }
    aside a:hover {
      text-decoration: none;
      text-shadow: 0px 0px 1px #ffdb99,  0px 0px 1px #ffdb99,  0px 0px 1px #ffdb99,  0px 0px 1px #ffdb99,  0px 0px 1px #ffdb99,  0px 0px 1px #ffdb99; }
    aside a:active {
      text-shadow: 0px 0px 2px #ffb732,  0px 0px 2px #ffb732,  0px 0px 2px #ffb732,  0px 0px 2px #ffb732,  0px 0px 2px #ffb732,  0px 0px 2px #ffb732; }
  aside ul {
    list-style: none;
    padding-left: 1em; }
    aside ul li {
      margin: 0.3em 0; }

html {
  background: radial-gradient(ellipse 110% 200% at 100% 80%, #0A1920 5%, #132228 40%, #0A1920 50%, #1D272C 70%, #0A1920 75%, #1D272C 80%, #0A1920 85%);
  box-shadow: inset -15px -15px 10px 3px rgba(0, 0, 0, 0.4), inset 15px 15px 10px 3px rgba(255, 255, 255, 0.3);
  padding: 30px; }

/*# sourceMappingURL=style.css.map */
