
// color palette - these colors will be the color swatches of the Colors section

$color-1: #ffa500; // orange: heading glow
$color-2: #00ffa5; // green: body copy
$color-3: #a500ff; // purple: headings
$color-4: #e6e6e6; // light grey
$color-5: #829595; // slate gray: background

// additional colors    (remove these?)

$success: #6fce72; // green
$alert: $color-3;  // red