
nav a, a {
	font-family: $primary-font;
	color: $color-2;
        display: block;
        text-shadow: 1px 1px 5px darken($color-2, 40%), 
                    1px 1px 7px lighten($color-2, 15%), 
                    1px 1px 9px #fff, 
                    1px 1px 11px #fff, 
                    1px 1px 13px lighten($color-2, 10%), 
                    1px 1px 15px lighten($color-2, 5%);
}