// fonts

@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Covered+By+Your+Grace');

$primary-font: "Architects Daughter", "Open Sans", serif;
$secondary-font: "Covered By Your Grace", cursive;

h1, h2, h3 {
	font-family: $secondary-font;
        display: block;
	color: $color-3;
        text-shadow: 1px 1px 5px $color-1, 
                    1px 1px 7px $color-1, 
                    1px 1px 9px #fff, 
                    1px 1px 11px #fff, 
                    1px 1px 13px $color-1, 
                    1px 1px 15px $color-1;
}

h1 {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 0 .4em;

	@include MQ(S) {
		font-size: 3rem;
	}

	@include MQ(M) {
		font-size: 3.5rem;
	}
}

h2 {
	font-weight: bold;
	text-transform: uppercase;
	margin: 1em 0;

	@include MQ(S) {
		font-size: 2rem;
		margin: 1em 0 1.4em;
	}
}

section > h2::before {
	/* number before each section title */
	color: darken($color-4, 15%);
}

p {
        font-family: $primary-font;
	font-size: 1.5rem;
	line-height: 1.5;
	color: lighten($color-2, 25%);

	a {
		color: $color-2;
		text-decoration: underline;
	}

	@include MQ(S) {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}