$large-screen-min-size: 650px;

/* Header */
#zen-intro {
    display: flex;
    flex-direction: column;
}
#zen-intro > * {
    border: 1px solid red; /* Remove later */
    flex: 1 1 30%;
}
@media only screen and (min-width: $large-screen-min-size) {
    #zen-intro {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #zen-preamble.preamble {
        flex-basis: 100%;
        width: 100%;
    }
}

/* Footer */
.sidebar > .wrapper {
    display: flex;
    flex-direction: column;
}
.sidebar > .wrapper > * {
    border: 1px solid blue; /* Remove later */
    flex: 1 1 30%;
}
@media only screen and (min-width: $large-screen-min-size) {
    .sidebar > .wrapper {
        flex-direction: row;
    }
}