
/*------------------------------
	header layout
-------------------------------*/
#zen-intro {
    display: flex;
    flex-direction: column;
}
#zen-intro > * {
    flex: 1 1 30%;
}
@media only screen and (min-width: $mid-screen-min-size) {
    #zen-intro {
        flex-direction: row;
        flex-wrap: wrap;
    }
    header {
        padding-top: 2em;
        
        h1 {
            margin-top: 0;
        }
    }
    #zen-summary {
        padding-top: 2em;
        
        p:first-of-type {
            margin-top: 0;
        }
    }
    #zen-preamble.preamble {
        flex-basis: 100%;
        width: 100%;
    }
}

/*------------------------------
	aside layout
-------------------------------*/
.sidebar > .wrapper {
    display: flex;
    flex-direction: column;
}
.sidebar > .wrapper > * {
    flex: 1 1 30%;
}
@media only screen and (min-width: $mid-screen-min-size) {
    .sidebar > .wrapper {
        flex-direction: row;
    }
}

/*------------------------------
	footer layout
-------------------------------*/

footer {
    display: flex;
    margin: auto auto 2em;
    max-width: 20em;
    justify-content: space-between;
}