@import url('https://fonts.googleapis.com/css?family=Caesar+Dressing');
@import url('https://fonts.googleapis.com/css?family=Nova+Cut');

/*-----------------------------------
    header
------------------------------------*/
h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Caesar Dressing', cursive;
    color: #a500ff;
    -webkit-animation: neon 3.5s ease-in-out infinite alternate;
    -moz-animation: neon 3.5s ease-in-out infinite alternate;
    animation: neon 3.5s ease-in-out infinite alternate;
    
    /* webkit glow code*/
    @-webkit-keyframes neon {
        from {
            text-shadow: 0px 0px 3px #ae19ff, 
                         0px 0px 4px #ae19ff,  
                         0px 0px 5px #c966ff,
                         0px 0px 5px #d27fff,
                         0px 0px 6px #f6e5ff, 
                         0px 0px 7px #f6e5ff;
        }
        to {
            text-shadow: 0px 0px 1.5px #ae19ff, 
                         0px 0px 2px #ae19ff,  
                         0px 0px 2.5px #c966ff,
                         0px 0px 2.5px #d27fff,
                         0px 0px 3px #f6e5ff, 
                         0px 0px 3.5px #f6e5ff;
        }
    }
    /*mozilla glow code*/
    @-moz-keyframes {
        from {
            text-shadow: 0px 0px 3px #ae19ff, 
                         0px 0px 4px #ae19ff,  
                         0px 0px 5px #c966ff,
                         0px 0px 5px #d27fff,
                         0px 0px 6px #f6e5ff, 
                         0px 0px 7px #f6e5ff;
        }
        to {
            text-shadow: 0px 0px 1.5px #ae19ff, 
                         0px 0px 2px #ae19ff,  
                         0px 0px 2.5px #c966ff,
                         0px 0px 2.5px #d27fff,
                         0px 0px 3px #f6e5ff, 
                         0px 0px 3.5px #f6e5ff;
        }
    }
    /*normal glow code*/
    @keyframes neon {
        from {
            text-shadow: 0px 0px 3px #ae19ff, 
                         0px 0px 4px #ae19ff,  
                         0px 0px 5px #c966ff,
                         0px 0px 5px #d27fff,
                         0px 0px 6px #f6e5ff, 
                         0px 0px 7px #f6e5ff;
        }
        to {
            text-shadow: 0px 0px 1.5px #ae19ff, 
                         0px 0px 2px #ae19ff,  
                         0px 0px 2.5px #c966ff,
                         0px 0px 2.5px #d27fff,
                         0px 0px 3px #f6e5ff, 
                         0px 0px 3.5px #f6e5ff;
        }
    }
}

h1 {
    font-size: 3.5rem; 
    
    @media only screen and (min-width: $mid-screen-min-size) {
        font-size: 2.7rem;
    }
    @media only screen and (min-width: $large-screen-min-size) {
        font-size: 3.5rem;
    }
}

h2 {
    font-size: 3;

    @media only screen and (min-width: $mid-screen-min-size) {
        font-size: 2.5rem;
    }
}

/*------------------------------
    body and footer links
-------------------------------*/

a {
    color: #00ffa5;
    font-family: 'Nova Cut', cursive;
    text-decoration: underline;
    
    -webkit-transition: text-shadow 0.5s linear;
    -moz-transition:    text-shadow 0.5s linear;
    -ms-transition:     text-shadow 0.5s linear;
    -o-transition:      text-shadow 0.5s linear;
    transition:         text-shadow 0.5s linear;

    &:visited {
        text-decoration: none;
        color: #00b273;
    }
    &:hover {
        text-decoration: none;
        text-shadow: 0px 0px 1px #99ffdb, 
                     0px 0px 1px #99ffdb, 
                     0px 0px 1px #99ffdb, 
                     0px 0px 1px #99ffdb, 
                     0px 0px 1px #99ffdb, 
                     0px 0px 1px #99ffdb;
    }
    &:active{
        color: #001910;
    }
}

/*-----------------------------------
	body headings
------------------------------------*/
h3 {
    padding-left: 0.5em;
    font-family: 'Caesar Dressing', cursive;
    font-variant: small-caps;
    font-size: 2rem;
    color: #ffa500;
    text-shadow: -3px -3px rgba(255, 165, 0, .1),
                 -2px -2px rgba(0, 0, 0, .1);
}

/* Pebbles */
.main h3, #zen-preamble h3 {
    &::before, &::after {
        display: inline-block;
        content: ' ';
        width: 1em;
        height: 1em;
        background: radial-gradient(ellipse 110% 100% at 100% 80%, 
                                            $background-accent-2 10%, 
                                            $background-accent-3 80%,
                                            $background-accent-4 90%);
        /*-webkit-filter: blur(1px);
        filter: blur(1px);*/
        box-shadow: 1px 2px 30px 10px #ffa500;
    }
    &::before {
        border-radius: 50% 50% 70% 60% / 80% 60% 20% 40%;
        margin-right: 1em;
    }
    &::after {
        border-radius: 50% 90% 75% 60% / 60% 80% 50% 60%;
        margin-left: 1em;
    }
}
#zen-explanation h3, #zen-benefits h3 {
    &::before {
        border-radius: 90% 50% 40% 25% / 55% 30% 100% 40%;
    }
    &::after {
        border-radius: 90% 60% 60% 80% / 60% 30% 50% 40%;
    }
}

@media only screen and (min-width: $mid-screen-min-size) {
    font-size: 1.7rem; 
}

/*----------------------------
	body copy
-----------------------------*/

p {
    font-family: 'Nova Cut', cursive;
    font-size: 1.5rem;
    color: #00ffd2;
    padding-left: 0.7em;
    
    a {
        color: #00ffa5;
        text-decoration: underline;
    }
}

/*------------------------------
	aside
-------------------------------*/
h3.select, h3.archives, h3.resources {
    color: #a500ff;
    letter-spacing: 2.5px;
    -webkit-animation: neon 3.5s ease-in-out infinite alternate;
    -moz-animation: neon 3.5s ease-in-out infinite alternate;
    animation: neon 3.5s ease-in-out infinite alternate;
        
    /* webkit glow code*/
    @-webkit-keyframes neon {
        from {
            text-shadow: 0px 0px 1px #ae19ff, 
                         0px 0px 1.5px #ae19ff,  
                         0px 0px 2px #c966ff,
                         0px 0px 2px #d27fff,
                         0px 0px 2.5px #f6e5ff, 
                         0px 0px 3px #f6e5ff;
        }
        to {
            text-shadow: 0px 0px .5px #ae19ff, 
                         0px 0px 1px #ae19ff,  
                         0px 0px 1.5px #c966ff,
                         0px 0px 1.5px #d27fff,
                         0px 0px 2x #f6e5ff, 
                         0px 0px 2.5px #f6e5ff;
        }
    }
    /* mozilla glow code*/
    @-moz-keyframes {
        from {
            text-shadow: 0px 0px 2px #ae19ff, 
                         0px 0px 3px #ae19ff,  
                         0px 0px 4px #c966ff,
                         0px 0px 5px #d27fff,
                         0px 0px 6px #f6e5ff, 
                         0px 0px 7px #f6e5ff;
        }
        to {
            text-shadow: 0px 0px .5px #ae19ff, 
                         0px 0px 1px #ae19ff,  
                         0px 0px 1.5px #c966ff,
                         0px 0px 1.5px #d27fff,
                         0px 0px 2x #f6e5ff, 
                         0px 0px 2.5px #f6e5ff;
        }
    }
    /*normal glow code*/
    @keyframes neon {
        from {
            text-shadow: 0px 0px 2px #ae19ff, 
                         0px 0px 3px #ae19ff,  
                         0px 0px 4px #c966ff,
                         0px 0px 5px #d27fff,
                         0px 0px 6px #f6e5ff, 
                         0px 0px 7px #f6e5ff;
        }
        to {
            text-shadow: 0px 0px .5px #ae19ff, 
                         0px 0px 1px #ae19ff,  
                         0px 0px 1.5px #c966ff,
                         0px 0px 1.5px #d27fff,
                         0px 0px 2x #f6e5ff, 
                         0px 0px 2.5px #f6e5ff;
        }
    }
}

aside {
    color: #ffa500;
    font-family: 'Nova Cut', cursive;
    
    a {
        color: #ffa500;
        text-decoration: underline;
        
        &:visited {
            text-decoration: none;
            color: #b27300;
        }
        &:hover {
            text-decoration: none;
            text-shadow: 0px 0px 1px #ffdb99, 
                         0px 0px 1px #ffdb99, 
                         0px 0px 1px #ffdb99, 
                         0px 0px 1px #ffdb99, 
                         0px 0px 1px #ffdb99, 
                         0px 0px 1px #ffdb99;
        }
        &:active {
            text-shadow: 0px 0px 2px #ffb732, 
                         0px 0px 2px #ffb732, 
                         0px 0px 2px #ffb732, 
                         0px 0px 2px #ffb732, 
                         0px 0px 2px #ffb732, 
                         0px 0px 2px #ffb732;
        }
    }
    
    ul li {
        list-style: none;
        margin: 0.3em 0;
    }
}